.divGlobal{
    margin: 0 auto;
    width: 414px;
    height: 728px;
    background: url("./image1.png") no-repeat fixed center;
}

.classform{
    position: relative;
    top: 15px;
    left: 18px;
    width: 369px;
}

select{
    display:block;
    width: 369px;
    height: 49px;
    background: #000000;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: #FFFFFF;
}

.classdiv{
    position: absolute;
    top: 5em;
}

.executor{
    position: relative;
    left: 18px;
    width: 369px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.pasajeros{
    position: relative;
    left: 18px;
    top: 1em;
    width: 369px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.title1{
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.title2{
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.text{
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.textnofound{
    position: relative;
    display: block;
    top: 5em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    left: 55px;
}

.line{
    margin: 10px 10px 10px 22px;
    width: 321px;
    border: 1px solid #000000;
    transform: rotate(0.21deg);
}

.marg{
    display: block;
    padding-bottom: 20px;
}